synapse/pipeline/dp-203-Copy data.json
{
	"name": "dp-203-Copy data",
	"properties": {
		"description": "This setup pipeline needs to executed after the DP-203 environment has been deployed. It will copy files and setup data sources",
		"activities": [
			{
				"name": "For each file in Github 203",
				"description": "For each file in the official github account https://github.com/MicrosoftLearning/DP-203-Azure-Data-Engineer, copy the files into the data lake",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Delete DataLake files",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('filesToCopyDP203')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy file",
							"description": "Copy file from github into datalake",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "GithubDP_203_AllFiles",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DataLake_FileContainer_AllFiles_dp203",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Delete DataLake files",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DataLake_FileContainer_AllFiles_dp203",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "*"
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"fileListPath": "files/labs-dp-203",
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"variables": {
			"filesToCopyDP203": {
				"type": "Array",
				"defaultValue": [
					"master/Allfiles/labs/01/setup.sql",
					"master/Allfiles/labs/01/adventureworks/products.csv",
					"master/Allfiles/labs/01/data/DimCurrency.fmt",
					"master/Allfiles/labs/01/data/DimCurrency.txt",
					"master/Allfiles/labs/01/data/DimCustomer.txt",
					"master/Allfiles/labs/01/data/DimDate.fmt",
					"master/Allfiles/labs/01/data/DimDate.txt",
					"master/Allfiles/labs/01/data/DimGeography.fmt",
					"master/Allfiles/labs/01/data/DimGeography.txt",
					"master/Allfiles/labs/01/data/DimProduct.fmt",
					"master/Allfiles/labs/01/data/DimProduct.txt",
					"master/Allfiles/labs/01/data/DimProductCategory.fmt",
					"master/Allfiles/labs/01/data/DimProductCategory.txt",
					"master/Allfiles/labs/01/data/DimProductSubCategory.fmt",
					"master/Allfiles/labs/01/data/DimProductSubCategory.txt",
					"master/Allfiles/labs/01/data/DimPromotion.fmt",
					"master/Allfiles/labs/01/data/DimPromotion.txt",
					"master/Allfiles/labs/01/data/DimSalesTerritory.fmt",
					"master/Allfiles/labs/01/data/DimSalesTerritory.txt",
					"master/Allfiles/labs/01/data/FactInternetSales.fmt",
					"master/Allfiles/labs/01/data/FactInternetSales.txt",
					"master/Allfiles/labs/01/files/ingest-data.kql",
					"master/Allfiles/labs/01/files/sales.csv",
					"master/Allfiles/labs/01/iot/devices.csv",
					"master/Allfiles/labs/02/data/2019.csv",
					"master/Allfiles/labs/02/data/2019.snappy.parquet",
					"master/Allfiles/labs/02/data/2020.csv",
					"master/Allfiles/labs/02/data/2020.snappy.parquet",
					"master/Allfiles/labs/02/data/2021.csv",
					"master/Allfiles/labs/02/data/2021.snappy.parquet",
					"master/Allfiles/labs/02/data/SO43700.json",
					"master/Allfiles/labs/02/data/SO43701.json",
					"master/Allfiles/labs/02/data/SO43703.json",
					"master/Allfiles/labs/02/data/SO43704.json",
					"master/Allfiles/labs/02/data/SO43705.json",
					"master/Allfiles/labs/03/data/2019.csv",
					"master/Allfiles/labs/03/data/2020.csv",
					"master/Allfiles/labs/03/data/2021.csv",
					"master/Allfiles/labs/04/data/customer.csv",
					"master/Allfiles/labs/04/data/product.csv",
					"master/Allfiles/labs/04/data/salesorder.csv",
					"master/Allfiles/labs/05/data/2019.csv",
					"master/Allfiles/labs/05/data/2020.csv",
					"master/Allfiles/labs/05/data/2021.csv",
					"master/Allfiles/labs/06/data/2019.csv",
					"master/Allfiles/labs/06/data/2020.csv",
					"master/Allfiles/labs/06/data/2021.csv",
					"master/Allfiles/labs/06/notebooks/Spark Transform.ipynb",
					"master/Allfiles/labs/07/data/products.csv",
					"master/Allfiles/labs/08/setup.sql",
					"master/Allfiles/labs/08/Solution.sql",
					"master/Allfiles/labs/08/data/DimAccount.fmt",
					"master/Allfiles/labs/08/data/DimAccount.txt",
					"master/Allfiles/labs/08/data/DimCurrency.fmt",
					"master/Allfiles/labs/08/data/DimCurrency.txt",
					"master/Allfiles/labs/08/data/DimCustomer.fmt",
					"master/Allfiles/labs/08/data/DimCustomer.txt",
					"master/Allfiles/labs/08/data/DimDate.fmt",
					"master/Allfiles/labs/08/data/DimDate.txt",
					"master/Allfiles/labs/08/data/DimDepartmentGroup.fmt",
					"master/Allfiles/labs/08/data/DimDepartmentGroup.txt",
					"master/Allfiles/labs/08/data/DimEmployee.fmt",
					"master/Allfiles/labs/08/data/DimEmployee.txt",
					"master/Allfiles/labs/08/data/DimGeography.fmt",
					"master/Allfiles/labs/08/data/DimGeography.txt",
					"master/Allfiles/labs/08/data/DimOrganization.fmt",
					"master/Allfiles/labs/08/data/DimOrganization.txt",
					"master/Allfiles/labs/08/data/DimProduct.fmt",
					"master/Allfiles/labs/08/data/DimProduct.txt",
					"master/Allfiles/labs/08/data/DimProductCategory.fmt",
					"master/Allfiles/labs/08/data/DimProductCategory.txt",
					"master/Allfiles/labs/08/data/DimProductSubCategory.fmt",
					"master/Allfiles/labs/08/data/DimProductSubCategory.txt",
					"master/Allfiles/labs/08/data/DimPromotion.fmt",
					"master/Allfiles/labs/08/data/DimPromotion.txt",
					"master/Allfiles/labs/08/data/DimReseller.fmt",
					"master/Allfiles/labs/08/data/DimReseller.txt",
					"master/Allfiles/labs/08/data/DimSalesTerritory.fmt",
					"master/Allfiles/labs/08/data/DimSalesTerritory.txt",
					"master/Allfiles/labs/08/data/FactInternetSales.fmt",
					"master/Allfiles/labs/08/data/FactInternetSales.txt",
					"master/Allfiles/labs/08/data/FactResellerSales.fmt",
					"master/Allfiles/labs/08/data/FactResellerSales.txt",
					"master/Allfiles/labs/09/setup.sql",
					"master/Allfiles/labs/09/data/Customer.csv",
					"master/Allfiles/labs/09/data/DimAccount.fmt",
					"master/Allfiles/labs/09/data/DimAccount.txt",
					"master/Allfiles/labs/09/data/DimCurrency.fmt",
					"master/Allfiles/labs/09/data/DimCurrency.txt",
					"master/Allfiles/labs/09/data/DimCustomer.fmt",
					"master/Allfiles/labs/09/data/DimCustomer.txt",
					"master/Allfiles/labs/09/data/DimDate.fmt",
					"master/Allfiles/labs/09/data/DimDate.txt",
					"master/Allfiles/labs/09/data/DimDepartmentGroup.fmt",
					"master/Allfiles/labs/09/data/DimDepartmentGroup.txt",
					"master/Allfiles/labs/09/data/DimEmployee.fmt",
					"master/Allfiles/labs/09/data/DimEmployee.txt",
					"master/Allfiles/labs/09/data/DimGeography.fmt",
					"master/Allfiles/labs/09/data/DimGeography.txt",
					"master/Allfiles/labs/09/data/DimOrganization.fmt",
					"master/Allfiles/labs/09/data/DimOrganization.txt",
					"master/Allfiles/labs/09/data/DimProductCategory.fmt",
					"master/Allfiles/labs/09/data/DimProductCategory.txt",
					"master/Allfiles/labs/09/data/DimProductSubCategory.fmt",
					"master/Allfiles/labs/09/data/DimProductSubCategory.txt",
					"master/Allfiles/labs/09/data/DimPromotion.fmt",
					"master/Allfiles/labs/09/data/DimPromotion.txt",
					"master/Allfiles/labs/09/data/DimReseller.fmt",
					"master/Allfiles/labs/09/data/DimReseller.txt",
					"master/Allfiles/labs/09/data/DimSalesTerritory.fmt",
					"master/Allfiles/labs/09/data/DimSalesTerritory.txt",
					"master/Allfiles/labs/09/data/FactInternetSales.fmt",
					"master/Allfiles/labs/09/data/FactInternetSales.txt",
					"master/Allfiles/labs/09/data/FactResellerSales.fmt",
					"master/Allfiles/labs/09/data/FactResellerSales.txt",
					"master/Allfiles/labs/09/data/Product.csv",
					"master/Allfiles/labs/10/setup.sql",
					"master/Allfiles/labs/10/data/Product.csv",
					"master/Allfiles/labs/11/data/2019.csv",
					"master/Allfiles/labs/11/data/2020.csv",
					"master/Allfiles/labs/11/data/2021.csv",
					"master/Allfiles/labs/11/notebooks/Spark Transform.ipynb",
					"master/Allfiles/labs/18/setup.sql",
					"master/Allfiles/labs/22/dedicated.sql",
					"master/Allfiles/labs/22/serverless.sql",
					"master/Allfiles/labs/22/data/products.csv",
					"master/Allfiles/labs/23/adventureworks/products.csv",
					"master/Allfiles/labs/24/Databricks-Spark.dbc",
					"master/Allfiles/labs/24/data/2019.csv",
					"master/Allfiles/labs/24/data/2020.csv",
					"master/Allfiles/labs/24/data/2021.csv",
					"master/Allfiles/labs/25/Delta-Lake.dbc",
					"master/Allfiles/labs/25/data/devices1.json",
					"master/Allfiles/labs/25/data/devices2.json",
					"master/Allfiles/labs/25/data/products.csv",
					"master/Allfiles/labs/26/data/products.csv",
					"master/Allfiles/labs/27/Process-Data.dbc",
					"master/Allfiles/labs/27/data/products.csv"
				]
			}
		},
		"folder": {
			"name": "dp-203/00-Setup"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-03T06:46:19Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}